{#
/**
 * Country Redirect plugin for Craft CMS 3.x
 *
 * Country Redirect Settings.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2017 Superbig
 * @link      https://superbig.co
 * @package   CountryRedirect
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("superbig\\countryredirect\\assetbundles\\CountryRedirect\\CountryRedirectAsset") %}

{% if logs|length %}
    <div class="buttons">
        <a href="{{ cpUrl('country-redirect/clear-logs') }}" class="btn submit add icon">{{ "Clear logs"|t('country-redirect') }}</a>
    </div>

    <table class="table data fullwidth">
        <thead>
        <tr>
            <th>Date</th>
            <th>Country</th>
            <th>Original URL</th>
            <th>Target URL</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            {# @var log \superbig\countryredirect\models\LogModel #}
            {% set volume = log %}
            <tr>
                <td scope="row" data-title="{{ 'Log Date'|t('app') }}">{{"#{log.dateCreated|date('short')} #{log.dateCreated|time('short')}" }}</td>
                <td scope="row" data-title="{{ 'Country'|t('app') }}">{{log.getCountry() }}</td>
                <td scope="row" data-title="{{ 'Original URL'|t('app') }}">
                    {{ log.getFromUrl() }}
                </td>
                <td scope="row" data-title="{{ 'Target URL'|t('app') }}">
                    {{ log.getTargetUrl() }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'country-redirect/_pagination' %}
{% else %}
    <p>{{ 'No log entries.'|t('country-redirect') }}</p>
{% endif %}
